* {
    font-family: Arial, sans-serif;
}

#search_box{
    padding: 10px;
    margin: 10px;
}

#return-button a{

    text-decoration: none;
}

#left-side{


}

#right_side{

    margin-top:350px;
}

article{

    justify-content: center;
    text-align: center;
}

h1 {

    text-align: center;
}

h2 {
    padding: 15px;

}

.backdrop_button{
    margin: 15px;
    padding: 15px;
}

p {

}

#backdrop-img{

    width: 50%;
    float:right;
}

header h1{

        text-align: center;
}

body {

    background-color: #ECC392;
}

main {
        text-align: center;
}

            article {
                width: 50%;
                float: left;
            }

#button-row{

        display: flex;
    justify-content: center;
}

#drop-list {

    text-align: center;
    /*    display: flex;
    justify-content: left;
    margin: 0 !important;
    height: 25px; */

}


#page_size{
    font-size: 15px;
    margin: 10px;
    padding: 5px;
}

#page-title{

    margin: 2px;
}

#image-poster{

    height:200px;
}